<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap" rel="stylesheet">
    </head>
</html>

<div class='stock-card-container'>
    <div class = "label">
        My Watchlist
    </div>
    <div class="line1"></div>
    <div class="line2"></div> 
    <div class="filler"></div>
    <div class="stock-card" *ngFor="let tickerSymbol of tickerSymbols">
        <app-stock-card [tickerSymbol]="getTicker(tickerSymbol)"></app-stock-card>
    </div>
</div>
<br>
