.stock-card-container {
    float: left;
    position: fixed;
    border: 5px solid white;
    background: white;
    border-radius: 10px;
    clear: both;
    margin-left: 1vw;
    margin-top: 4.5vw;
    height: 85vh;
    width: 20vw;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
}

.stock-card-container::-webkit-scrollbar {
    display: none;
  }

.label {
    color: black;
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    position: fixed;
    z-index: 10;
    background-color: white;
    height: 40px;
    width: 20vw;
    left: 0.5vw;
}

.line1 {
    width: 1.5vw;
    background-color:rgb(80, 170, 95);
    height: 0.5vh;
    top: 16.2vh;
    z-index: 20;
    position: fixed;
    left: 4.9vw;
    border-radius: 0.25vh;
}

.line2 {
    width: 9vw;
    background-color:rgb(80, 170, 95);
    height: 0.5vh;
    top: 16.2vh;
    z-index: 20;
    position: fixed;
    left: 7.3vw;
    border-radius: 0.25vh;
}

.filler {
    width: 18vw;
    height: 50px;
    position: relative;
}

.stock-card {
    width: 18vw;
    height: 60px;
    position: relative;
}
